* {
  font-family: monospace;
}

.frames {
  display: inline;
  max-height: 150px;
  vertical-align: middle;
  padding: 1px;
}

webcam {
  display: inline;
}

.container {
  display: inline;
  position: relative;
  max-width: 640px;
}

.overlay {
  position: absolute;
  color: white;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  opacity: 0.7;
  padding: 10px;
}

.full-screen:hover {
  background-color: rgba(0, 0, 0, 0.452);
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
}

.selected {
  outline: 3px solid orange;
  outline-offset: -4px;
}

button {
  color: #ffffff;
  border: 2px solid black;
  border-radius: 4px;
  padding: 10px;
  background-color: black;
  cursor: pointer;
}

button:hover {
  background-color: #333333;
}

button:active {
  background-color: #666666;
}

button:disabled {
  background-color: #333333;
  color: #666666;
  border-color: #333333;
  cursor: not-allowed;
}