<div [style.display]="'inline'">
  <button (click)="save()" [disabled]="!frames.length">
    SAVE
    <fa-icon icon="save" size="lg">
    </fa-icon>
  </button>
  <input type="file" (input)="load($event.target)" accept=".frames">
</div>
<div [style.text-align]="'center'">
  <h1>Scott's fantastical stop motion animator!</h1>
  <div>
    <div class="container">
      <webcam [trigger]="captureFrame" (imageCapture)="addFrame($event.imageAsDataUrl)" [mirrorImage]="'never'"
        [width]="width" [height]="height" (initError)="handleInitError($event)">
      </webcam>
      <fa-icon icon="expand" size="2x" class="overlay full-screen" (click)="fullScreen()">
      </fa-icon>
    </div>
    <span style="padding-left: 3px; padding-right: 3px"></span>
    <div class="container" *ngIf="selectedFrameIndex !== undefined">
      <img [src]="frames[selectedFrameIndex]" alt="">
      <fa-icon class="overlay" [icon]="isPlaying ? 'play' : 'pause'" size="6x">
      </fa-icon>
    </div>
  </div>
  <button (click)="captureFrame.next()" [disabled]="isPlaying">
    <fa-icon icon="camera" size="lg">
    </fa-icon>
  </button>
  <ng-container *ngIf="frames.length">
    <button *ngIf="!isPlaying" (click)="play()">
      <fa-icon icon="play" size="lg">
      </fa-icon>
    </button>
    <button *ngIf="isPlaying" (click)="stop()">
      <fa-icon icon="pause" size="lg">
      </fa-icon>
    </button>
  </ng-container>
  <span *ngIf="selectedFrameIndex !== undefined">{{ selectedFrameIndex + 1 }}/{{ frames.length }}</span>
  FPS
  <input type="number" [(ngModel)]="fps" [disabled]="isPlaying">
  <div>
    <img class="frames" [class.selected]="i === selectedFrameIndex" *ngFor="let item of frames; let i = index"
      (click)="selectedFrameIndex = i" [src]="item" alt="">
    <button (click)="delete()" *ngIf="this.selectedFrameIndex !== undefined" [disabled]="isPlaying">
      <fa-icon icon="trash" size="lg">
      </fa-icon>
    </button>
  </div>
</div>